/* body{
    background-color: #E3E6E3;
} */

/* heading */
/* #header{
    text-align: center;
    color: rgb(248, 27, 27);
    background-color: rgb(163, 209, 54);
} */
/* .heading{
    font-size: 2.5rem;
    padding-bottom: 0px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.admin-heading{
  color:rgb(248, 27, 27) ;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
} */

/* nav */
/* ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(53, 56, 70);
    text-align: center;
  }
  
  li {
    display: inline-block;
  }
  
  li a {
    display: block;
    color: rgb(248, 27, 27);
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
    font-size: .9rem;
  }
  
  li a:hover:not(.active) {
    background-color: rgb(168, 158, 65);
  }
  
  .active {
    background-color: rgb(240, 219, 37);
  } */

   /* post  */
   .liked{
    color: blue;
    background-color: #ccc;
  }
   div.responsive{
    padding-bottom: 0px;
    padding-top: 0px;
    
   }
  div.gallery {
    background-color: #fff;
    
  }

  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 12px;
    text-align: center;
  }

  .load{
    text-align: center;
    padding-bottom: 15px;
  }
  .icon{
    background-color:#fff;
    margin: 0px;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-top-left-radius:12px ;
    border-top-right-radius:12px ;
  }
  .icon1{
    padding-top: 3px;
  }
  .icon img{
    width:4rem;
    height:4rem;
    border-radius:30px;
  }
  .icon2 img{
    width:4rem;
    height:4rem;
    border-radius:30px;
  }
  .icon2{
    background-color:#fff;
    margin: 0px;
    border-top-left-radius:12px ;
    border-top-right-radius:12px ;
  }
  
  

  /* profile */
  .profile{
    text-align: center;
    padding: 15px;
  }
  .profile img{
    width: 300px;
    height: 300px;
 border-radius: 150px;
    padding: 15px 15px;

  }
  .material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
  }
  /* landing page */
  /* #landing{
    background-color:rgb(54, 199, 209) ;
    
  }
  #l-heading{
  padding: 25px; 
  text-align: center;
    color: rgb(248, 27, 27);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 }
 .button{
  padding: 15px ;
 }
 .button a{
 margin: 5px;
} */
/* form{
  background: #fff;
  padding: 25px;
  box-shadow:0 1px 3px rgba(0, 0, 0, 0.13);
} */
.center{
  text-align:center;
  padding: 16px;
}
.form-group{
  padding:7px;
}


.desc{
  padding-left:15px;
 padding-top:5px;

}
.delete{
  padding-top: 12px;
}
.name-date{
  padding-top: 7px;
  padding-left: 30px;
}
/* likes 
*/
#likes{
  background-color: #fff;
  margin-left: 1px;
  margin-right: 1px;
}
#b-likes{
  background-color: #fff;
  border-bottom-left-radius:12px ;
  border-bottom-right-radius:12px ;
  margin-left: 1px;
  margin-right: 1px;
  margin-bottom: 5px;
}
.btn-like{
  background-color: #fff;
  width: 100%;
  border: 0px;
  padding: 3px;
  border-radius: 15px;
  margin: 3px;
}
.btn-like:hover{
  color: darkblue;
  width: 90%;
  background-color: #ccc;
}
.b-like{
  text-align: center;
}
.fa {
  cursor: pointer;
  user-select: none;
}

.fa:hover {
  color: darkblue;
}
.blue{
    color: blue;
}
/* whats your mind */
.mind{
  padding-left: 26px;
  padding-top: 12px;
}
.bichar{
  width: 100%;
  border-radius: 75px;
    background: rgb(216, 214, 214);
    padding: 6px;
    transition: 0.5s;
}
.bichar:focus{
  border: 3px solid blue;

}

.whats-m{
  background: #fff;
  margin: 0;
  margin-top: 8px;
  margin-bottom: 5px;
  border-radius: 12px;
  border: 1px solid #ccc;

}
#b-minds{
  margin-left: 1px;
  margin-right: 1px;
  margin-bottom: 5px;
}
.hr{
  margin: 0;
  margin-left: 12px;
  margin-right: 12px;
}

@media(max-width: 992px){
  .name-date{
    padding-top: 7px;
    padding-left: 35px;
  }
  .delete{
    padding-top: 8px;  
  }
  /* li a {
    padding: 8px 6px;
    font-size: .7rem;
  } */
}
@media(max-width: 768px){
  .name-date{
    padding-top: 7px;
    padding-left: 35px;
  }
  /* li a {
    padding: 4px 4px;
    font-size: .6em;
  } */
  .delete{
  padding-top: 10px;
  }
  /* .heading{
    font-size: 2.3rem;
} */
}